<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         bootstrap="./test/bootstrap.php">
    <testsuites>
        <testsuite name="FatFreeRoutes Test Suite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <!--
    <logging>
    <log type="coverage-html" target="./test/data/reports/report" lowUpperBound="35"
         highLowerBound="70" showUncoveredFiles="true"/>
         -->
</phpunit>